<div fxFlex="grow" *ngIf="gym && timetable$ | async as timetable; else loading" class="container">
  <cdk-virtual-scroll-viewport itemSize="1">
    <app-map height="15rem" [gyms]="[gym]" [showMyPositionControl]="false"></app-map>
    <h2>Address</h2>
    <div>{{gym.address}}, {{gym.city.name}}</div>

    <h2 [style.marginBottom]="'1rem'">Timetable</h2>
    <app-timetable-details [timetable]="timetable"></app-timetable-details>
  </cdk-virtual-scroll-viewport>

</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>