<div fxLayout="column" fxFlexFill>

  <div fxFlex="grow" fxLayout="column">
    <app-asset-list *ngIf="!isLoading && assets.length > 0" [assets]="assets" (assetSelected)="onAssetSelected($event)"
      [showGymDetails]="false" fxFlex="grow"></app-asset-list>
    <app-loading *ngIf="isLoading"></app-loading>
    <app-message *ngIf="!isLoading && assets.length === 0" title="No assets"></app-message>
  </div>

  <mat-paginator hidePageSize="true" [style.width]="'100%'" (page)="pageChange($event.pageIndex)" [length]="length"
    [pageSize]="pageSize"></mat-paginator>
</div>