<mat-toolbar>
  <div fxFlex="grow" fxLayout="row" fxLayoutAlign="center center">
    <button mat-icon-button routerLink="/search">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <div fxFlex="grow" fxLayout="row" fxLayoutAlign="center center">
    <button mat-icon-button routerLink="/reservations">
      <mat-icon>book</mat-icon>
    </button>
  </div>

  <div fxFlex="grow" fxLayout="row" fxLayoutAlign="center center">
    <button mat-icon-button routerLink="/gyms">
      <mat-icon>fitness_center</mat-icon>
    </button>
  </div>

  <div fxFlex="grow" fxLayout="row" fxLayoutAlign="center center">
    <button mat-icon-button routerLink="/profile">
      <mat-icon>person</mat-icon>
    </button>
  </div>
</mat-toolbar>