<mat-list *ngIf="comments" role="list">
  <div *ngFor="let comment of comments">
    <mat-list-item role="listitem">
      <ngx-avatar matListAvatar size="40" name="{{comment.user.name}} {{comment.user.surname}}" [src]="comment.user | avatar | async | dataUrl | safeUrl"></ngx-avatar>
      <div class="comment-header" matLine fxLayout="row" fxLayoutAlign="start center">
        <div [style.paddingRight]="'0.5rem'">{{comment.user.username}}</div>
        <app-rating-bar [value]="comment.rating" [size]="'0.5rem'"></app-rating-bar>
        <div class="delete-button-container" *ngIf="isMyComment(comment)" fxFlex="grow" fxLayout="row"
             fxLayoutAlign="end center">
          <button *ngIf="!isDeletingComment" mat-icon-button color="warn" (click)="onDeleteClick(comment)">
            <mat-icon>delete</mat-icon>
          </button>
          <mat-spinner diameter="24" *ngIf="isDeletingComment"></mat-spinner>
        </div>
      </div>
      <p matLine>
        <span class="title">{{comment.title}}</span>
      </p>
    </mat-list-item>
    <div class="message">
      {{comment.message}}
    </div>
  </div>
</mat-list>
