<div fxLayout="column" fxFlexFill>
  <div class="header" fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button (click)="back()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <div fxFlex="grow">
      <div class="header-content" *ngIf="gym && rating$ | async as rating; else loading">
        <h1 class="title">{{gym.name}}</h1>
        <app-rating-bar [value]="rating"></app-rating-bar>
      </div>
      <ng-template #loading>
        <div class="header-content">
          <mat-spinner diameter="25"></mat-spinner>
        </div>
      </ng-template>
    </div>
  </div>
  <mat-tab-group dynamicHeight="true">

    <mat-tab label="Details">
      <app-details-tab [gym]="gym"></app-details-tab>
    </mat-tab>

    <mat-tab label="Assets">
      <ng-template matTabContent>
        <app-assets-tab [gym]="gym"></app-assets-tab>
      </ng-template>
    </mat-tab>

    <mat-tab label="Comments">
      <ng-template matTabContent>
        <app-comments-tab [gym]="gym"></app-comments-tab>
      </ng-template>
    </mat-tab>

    <mat-tab label="Photos">
      <ng-template matTabContent>
        <app-photos-tab [gym]="gym"></app-photos-tab>
      </ng-template>
    </mat-tab>

  </mat-tab-group>

</div>