<div class="container" fxLayout="column" fxLayoutGap="2rem">
  <h1 class="mat-title">Login</h1>
  <form [formGroup]="loginForm" fxLayout="column" fxLayoutGap="1rem">
    <mat-form-field>
      <input matInput placeholder="Username" type="email" formControlName="username">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" type="password" formControlName="password">
    </mat-form-field>
  </form>

  <div fxLayout="row" fxLayoutAlign="center">
    <button *ngIf="!isLoading" mat-flat-button color="primary" (click)="login()">Login</button>
    <mat-spinner diameter="25"*ngIf="isLoading"></mat-spinner>
  </div>
</div>