<app-toolbar title="Login"></app-toolbar>
<div class="container" fxLayout="column" fxLayoutGap="2rem">
  <form [formGroup]="loginForm" fxLayout="column" fxLayoutGap="1rem">
    <mat-form-field appearance="standard">
      <mat-label>Username</mat-label>
      <input matInput type="email" formControlName="username">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
  </form>

  <div class="sign-in" fxLayout="row" fxLayoutAlign="center">
    <button [disabled]="loginForm.invalid" *ngIf="!isLoading" mat-flat-button color="primary" (click)="login()">Sign in
    </button>
    <mat-spinner diameter="25" *ngIf="isLoading"></mat-spinner>
  </div>
</div>