<div fxLayout="column" fxLayoutAlign="center" class="mat-typography" fxLayoutGap="1rem">
  <div class="header" fxLayout="row">
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
    <div class="title" fxLayout="row" fxFlex="grow" fxLayoutAlign="center center">
      <h2>Change Password</h2>
    </div>
  </div>

  <form [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="Old Password" formControlName="oldPassword">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="New Password" formControlName="newPassword">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="New Password (repeat)" [errorStateMatcher]="newPasswordErrorMatcher"
        formControlName="newPasswordRepeat">
      <mat-error *ngIf="form.get('newPasswordRepeat').hasError('notEqual')">
        The two passwords are not equal
      </mat-error>
    </mat-form-field>
  </form>

  <div class="footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1rem">
    <div *ngIf="!isLoading">
      <button mat-flat-button color="primary" (click)="close()">
        Cancel
      </button>
      <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="submit()">
        Change
      </button>
    </div>
    <mat-spinner diameter="25" *ngIf="isLoading"></mat-spinner>
  </div>

</div>