<app-asset-kind-picker #kindpicker [(result)]="searchParams.kind"></app-asset-kind-picker>
<app-datepicker #datepicker [(date)]="searchParams.date"></app-datepicker>
<app-time-period-picker #timepicker [(start)]="searchParams.startHour" [(end)]="searchParams.endHour"
                        [maxDuration]="maxDuration">
</app-time-period-picker>
<app-location-picker #locationpicker [(result)]="searchParams.location"></app-location-picker>

<div class="footer" fxLayout="row" fxLayoutAlign="center center">
  <button mat-flat-button color="primary" (click)="search()"
          [disabled]="!datepicker.isValid || !timepicker.isValid || !locationpicker.isValid || !kindpicker.isValid">
    Search
  </button>
</div>
