<app-toolbar title="Search"></app-toolbar>
<app-asset-kind-picker #kindpicker (resultChange)="onKindSelected($event)" [result]="searchParams.kind"></app-asset-kind-picker>
<app-datepicker (dateChange)="onDateChange($event)" [date]="searchParams.date"></app-datepicker>
<app-time-period-picker #timepicker (startChange)="onStartChange($event)" [start]="searchParams.startHour" [(end)]="searchParams.endHour" [currentDate]="searchParams.date"
                        [maxDuration]="maxDuration" [step]="step">
</app-time-period-picker>
<app-location-picker #locationpicker (resultChange)="onLocationChange($event)" [result]="searchParams.location"></app-location-picker>

<div class="footer" fxLayout="row" fxLayoutAlign="center center">
  <button mat-flat-button color="primary" (click)="search()"
          [disabled]="!timepicker.isValid || !locationpicker.isValid || !kindpicker.isValid">
    Search
  </button>
</div>
