<app-fab-button icon="comment" (click)="newComment()"></app-fab-button>
<div *ngIf="currentPage !== undefined">
  <app-comment-list [comments]="comments"></app-comment-list>
  <app-message *ngIf="!isLoading && comments.length === 0" title="No comments"></app-message>

  <div class="load-more-container" fxLayout="row" fxLayoutAlign="center center">
    <button *ngIf="!last && !isLoading" mat-button color="primary" (click)="loadMore()">Load more</button>
    <mat-spinner diameter="25" *ngIf="isLoading"></mat-spinner>
  </div>
</div>