<div class="container" fxLayout="column">
  <h1 style="margin: 0" class="title mat-display-1">Reservations</h1>

  <div fxLayout="column" fxFlex="grow" *ngIf="reservations; else loading">
    <app-reservation-list *ngIf="reservations.length > 0" style="height: 100%" [reservations]="reservations"></app-reservation-list>

    <app-message *ngIf="reservations.length === 0" title="No reservations"></app-message>
  </div>

  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</div>