<div class="container" fxLayout="column">
  <app-toolbar title="Reservations"></app-toolbar>


  <div fxLayout="column" fxFlex="grow" *ngIf="reservations; else loading">
    <app-reservation-list *ngIf="reservations.length > 0" style="height: 100%" [reservations]="reservations">
    </app-reservation-list>

    <app-message *ngIf="reservations.length === 0" showIcon="true" title="Nothing to show"></app-message>
  </div>

  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</div>