<div>
  <div class="form-item" fxLayout="row" fxLayoutAlign="start center" matRipple (click)="changeCity()">
    <div fxFlex="50" fxLayoutAlign="start center">
      <mat-icon class="mr">location_city</mat-icon>
      <div>City</div>
    </div>
    <div fxFlex="50" fxLayoutAlign="end">
      <div *ngIf="result.city; else elseCity">
        <span>{{result.city.name}}</span>
      </div>
      <ng-template #elseCity>
        <mat-error>Required</mat-error>
      </ng-template>
    </div>
  </div>

  <div *ngIf="result.city" class="form-item" fxLayout="row" fxLayoutAlign="start center" matRipple
       (click)="changeGym()">
    <div fxFlex="50" fxLayoutAlign="start center">
      <mat-icon class="mr">{{gymIcon}}</mat-icon>
      <div>Gym</div>
    </div>
    <div fxFlex="50" fxLayoutAlign="end">
      <div *ngIf="result.gym; else elseGym">
        <span>{{result.gym.name}}</span>
      </div>
      <ng-template #elseGym>Any</ng-template>
    </div>
  </div>
</div>
