.title {
  padding-right: 2.5rem;
}

mat-form-field {
  width: 100%;
  margin-top: 1rem;
}

mat-slider {
  width: 100%;
}

textarea {
  height: 10rem;
}

.red {
  color: red;
}

h1 {
  margin: 0;
}

form {
  padding: 2rem 0;
}

.footer {
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
}