<div class="form-item" fxLayout="row" fxLayoutAlign="start center" (click)="startPicker.open()" matRipple>
  <div fxFlex="grow" fxLayoutAlign="start center">
    <mat-icon>access_time</mat-icon>
    <div>Start</div>
  </div>
  <div class="hour-label">{{start}}</div>
</div>
<input [max]="max" readonly [min]="min" hidden [ngxTimepicker]="startPicker" [value]="start" [format]="24" type="time">
<ngx-material-timepicker #startPicker (timeSet)="startSet($event)" [minutesGap]="step"></ngx-material-timepicker>

<div class="form-item" fxLayout="row" fxLayoutAlign="start center" (click)="endPicker.open()" matRipple>
  <div fxFlex="grow" fxLayoutAlign="start center">
    <mat-icon>access_time</mat-icon>
    <div>End</div>
  </div>
  <div class="hour-label">{{end}}</div>
</div>
<input readonly 
[max]="start | maxEndTime:max:maxDuration" 
[min]="start | minEndTime:step" hidden [ngxTimepicker]="endPicker" [value]="end" [disableClick]="true" [format]="24" type="time">
<ngx-material-timepicker #endPicker [minutesGap]="step" (timeSet)="endSet($event)"></ngx-material-timepicker>
