<div *ngIf="data.choices$ | async as choices; else loading" fxLayout="column" class="mat-typography container">
  <button mat-icon-button (click)="cancel()">
    <mat-icon>close</mat-icon>
  </button>
  <h2>{{data.title | titlecase}}</h2>

  <div fxFlex="grow">
    <cdk-virtual-scroll-viewport [itemSize]="choices.length">
      <mat-radio-group [(ngModel)]="selected" fxLayout="column" fxLayoutGap="2rem">
        <mat-radio-button *cdkVirtualFor="let choice of choices" [value]="choice">
          {{toString(choice)}}
        </mat-radio-button>
      </mat-radio-group>
    </cdk-virtual-scroll-viewport>
  </div>

  <div class="footer" fxLayout="row" fxLayoutAlign="end">
    <button mat-button color="primary" (click)="cancel()">CANCEL</button>
    <button mat-button color="primary" (click)="submit()" [disabled]="selected === undefined">OK</button>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
