.vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
