@import "./assets/styles/cropper.css";

html, body {
  height: 100%;
  background-color: #fafafa;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-body-wrapper {
  flex-grow: 1 !important;
}