<div fxFlexFill fxLayout="column">
  <div class="header">
    <h1>Gyms</h1>
    <div fxLayout="row" fxLayoutAlign="start center">
      <app-searchbar [(value)]="nameFilter" fxFlex="grow"></app-searchbar>
      <button mat-icon-button (click)="pickCity()" style="margin-left: 0.5rem">
        <mat-icon>location_city</mat-icon>
      </button>
    </div>
    <mat-chip-list *ngIf="cityFilter">
      <mat-chip removable="true" (removed)="cityFilter=undefined">
        {{cityFilter.name}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>

  </div>
  <div *ngIf="!isLoading" fxFlex="grow">
    <app-gym-list [gyms]="result" (gymClick)="onGymClick()"></app-gym-list>
    <div *ngIf="result.length === 0" fxLayout="row" fxLayoutAlign="center center">
      <h1>Nothing found</h1>
    </div>
  </div>

  <app-loading *ngIf="isLoading"></app-loading>

</div>
