<div class="form-item" fxLayout="row" fxLayoutAlign="start center" (click)="datepicker.open()" matRipple>
  <div fxFlex="grow" fxLayoutAlign="start center">
    <mat-icon>calendar_today</mat-icon>
    <div>Date</div>
    <div fxFlex="grow" fxLayoutAlign="end center">{{date| dateTime:'dd MMMM yyyy'}}</div>
  </div>
  <input hidden [value]="date" (dateChange)="onDateChange($event)" matInput [min]="min" [max]="max"
    [matDatepicker]="picker">
  <mat-datepicker #datepicker touchUi #picker></mat-datepicker>
</div>