<div class="container mat-typography" fxLayout="column">
  <div class="header">
    <button mat-icon-button (click)="dismiss()">
      <mat-icon>close</mat-icon>
    </button>
    <h1 fxFlex="grow" style="padding-right: 2.5rem" fxLayout="row" fxLayoutAlign="center center">
      {{gymName}}
    </h1>
  </div>

  <cdk-virtual-scroll-viewport fxFlex="grow" *ngIf="!isLoading && data.assets.length > 0" itemSize="data.assets.length">
    <mat-list role="navigation">
      <mat-list-item *cdkVirtualFor="let asset of data.assets">
        <mat-icon matListIcon>{{asset.kind | kindIcon}}</mat-icon>
        <h3 matLine>{{asset.name}}</h3>
        <p matLine>
          <span class="mat-small">{{asset.kind | assetKindName | titlecase}}</span>
        </p>
        <button mat-button color="primary" (click)="onBookingClick(asset)">Book</button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </cdk-virtual-scroll-viewport>

  <app-loading *ngIf="isLoading"></app-loading>

</div>